<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VikDental</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="icon" href="img/icon.png" type="image/x-icon" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header__navigation-container">
        <nav class="header__navigation container">
          <div class="header__logo-container">
            <img class="header__logo" src="img/icon.png" alt="VikDental logo" />
            <h1 class="header__title">
              Vik<span class="header__title-span">Dental</span>
            </h1>
          </div>
          <div class="header__nav-buttons-container">
            <ul class="header__nav-buttons">
              <li class="header__nav-button">
                <a class="header__nav-link" href="index.html#about">About Us</a>
              </li>
              <li class="header__nav-button">
                <a class="header__nav-link" href="index.html#team">Our Team</a>
              </li>
              <li class="header__nav-button">
                <a class="header__nav-link" href="index.html#pricing-schedule"
                  >Pricing</a
                >
              </li>
              <li class="header__nav-book-button">
                <a class="header__nav-link" href="index.html#pricing-schedule"
                  >Book an Appointment</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="header__hero">
        <div class="header__hero-container container">
          <div class="header__hero-content">
            <div class="header__hero-text">
              <h2 class="header__hero-title">Your smile is our pride.</h2>
              <h2 class="header__hero-title">Your health is our problem.</h2>
              <p class="header__hero-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                faucibus nec lacus at condimentum. Mauris eget vehicula mi, vel
                egestas tellus. Morbi cursus augue a turpis vehicula, eu
                vehicula augue porta.
              </p>
            </div>
            <div class="header__hero-buttons">
              <a class="header__hero-button" href="index.html#pricing-schedule"
                >Book an Appointment</a
              >
              <a
                class="header__hero-button--alternative"
                href="index.html#pricing-schedule"
                >See Pricing</a
              >
            </div>
          </div>
          <img
            class="header__hero-image"
            src="img/hero-image.webp"
            alt="Smiling woman for header hero"
          />
        </div>
      </div>
    </header>
    <main class="main">
      <section class="about" id="about">
        <div class="about__container container">
          <img
            class="about__image"
            src="img/about-image.webp"
            alt="Reception photo for about section"
          />
          <div class="about__content">
            <div class="about__header">
              <h2 class="about__title">About</h2>
              <h3 class="about__subtitle">Our Clinic</h3>
              <p class="about__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                faucibus nec lacus at condimentum.
              </p>
            </div>
            <div class="about__additional">
              <div class="about__excellence">
                <div class="about__card">
                  <img
                    class="about__card-image"
                    src="img/cup-icon.png"
                    alt="Cup icon"
                  />
                  <h4 class="about__card-title">Working for Years</h4>
                  <p class="about__card-info">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
                <div class="about__card">
                  <img
                    class="about__card-image"
                    src="img/star-icon.png"
                    alt="Star icon"
                  />
                  <h4 class="about__card-title">Customers satisfied</h4>
                  <p class="about__card-info">
                    Morbi faucibus nec lacus at condimentum.
                  </p>
                </div>
              </div>
              <a class="about__more-button" href="index.html#pricing-schedule"
                >Pricing</a
              >
            </div>
          </div>
        </div>
      </section>
      <section class="team" id="team">
        <div class="team-container container">
          <div class="team__header">
            <h2 class="team__title">Meet Us</h2>
            <h3 class="team__subtitle">Our Team</h3>
            <p class="team__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              faucibus nec lacus at condimentum. Mauris eget vehicula mi, vel
              egestas tellus. Morbi cursus augue a turpis vehicula, eu vehicula
              augue porta.
            </p>
          </div>
          <div class="team__workers-list">
            <ul class="team__workers">
              <li class="team__worker">
                <img
                  class="team__worker-image"
                  src="img/worker-1.webp"
                  alt="Worker 1 photo"
                />
                <h4 class="team__worker-name">Dr. Alexa Humeniuk</h4>
                <p class="team__worker-position">Lead Dentist</p>
              </li>
              <li class="team__worker">
                <img
                  class="team__worker-image"
                  src="img/worker-2.webp"
                  alt="Worker 2 photo"
                />
                <h4 class="team__worker-name">Dr. Olena Stolova</h4>
                <p class="team__worker-position">Dentist</p>
              </li>
              <li class="team__worker">
                <img
                  class="team__worker-image"
                  src="img/worker-3.webp"
                  alt="Worker 3 photo"
                />
                <h4 class="team__worker-name">Dr. Daria Sternova</h4>
                <p class="team__worker-position">Pediatric Dentist</p>
              </li>
              <li class="team__worker">
                <img
                  class="team__worker-image"
                  src="img/worker-4.webp"
                  alt="Worker 4 photo"
                />
                <h4 class="team__worker-name">Dr. Oleg Shumko</h4>
                <p class="team__worker-position">Oral Surgeon</p>
              </li>
              <li class="team__worker">
                <img
                  class="team__worker-image"
                  src="img/worker-5.webp"
                  alt="Worker 5 photo"
                />
                <h4 class="team__worker-name">Dr. Alina Pomozanova</h4>
                <p class="team__worker-position">Dental Hygienist</p>
              </li>
              <li class="team__worker">
                <img
                  class="team__worker-image"
                  src="img/worker-6.webp"
                  alt="Worker 6 photo"
                />
                <h4 class="team__worker-name">Dr. Nazariy Luzik</h4>
                <p class="team__worker-position">Orthodontic</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="pricing-schedule" id="pricing-schedule">
        <div class="pricing-schedule-container container">
          <div class="pricing-schedule__schedule">
            <h2 class="pricing-schedule__heading">Schedule</h2>
            <ul class="pricing-schedule__days">
              <li class="pricing-schedule__day">Monday: 9:00 - 17:00</li>
              <li class="pricing-schedule__day">Tuesday: 9:00 - 17:00</li>
              <li class="pricing-schedule__day">Wednesday: 9:00 - 17:00</li>
              <li class="pricing-schedule__day">Thursday: 9:00 - 17:00</li>
              <li class="pricing-schedule__day">Friday: 9:00 - 17:00</li>
              <li class="pricing-schedule__day">Saturday: 10:00 - 15:00</li>
              <li class="pricing-schedule__day">Sunday: Closed</li>
            </ul>
          </div>
          <div class="pricing-schedule__prices">
            <h2 class="pricing-schedule__heading">Prices</h2>
            <ul class="pricing-schedule__price-list">
              <li
                :id="service.id"
                class="pricing-schedule__price-item"
                v-for="service in pricing"
              >
                {{service.title}}: ${{service.price}}
                <button
                  class="price-item__add-button"
                  @click="addToCart(service)"
                >
                  Add
                </button>
              </li>
            </ul>
            <div class="pricing-schedule__total">
              <button class="total__book" @click="isModalOpen=true">
                Book
                <p v-if="selectedServicesCount>0" class="total__count">
                  {{selectedServicesCount}}
                </p>
              </button>
            </div>
            <div v-if="isModalOpen" class="pricing-schedule__modal">
              <div class="modal__content">
                <button class="modal__close" @click="isModalOpen=false">
                  Close
                </button>
                <h3 class="modal__total">Your fee - {{totalPrice}}$</h3>
                <ul class="modal__list">
                  <li
                    class="modal__item"
                    v-for="service in selectedServicesDetails"
                    :key="service.id"
                  >
                    <div class="modal__item-text">
                      <p>{{service.title}}: ${{ service.price}}</p>
                    </div>
                    <button
                      class="modal__item-remove-button"
                      @click="removeFromCart(index)"
                    >
                      Remove
                    </button>
                  </li>
                </ul>
                <form v-if="selectedServicesCount>0" class="modal__form">
                  <input class="modal__number" placeholder="" type="text" />
                  <input class="modal__submit" type="submit" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__container container">
        <div class="footer__content">
          <div class="footer__logo-container">
            <img class="footer__logo" src="img/icon.png" alt="VikDental logo" />
            <h2 class="footer__title">
              Vik<span class="footer__title-span">Dental</span>
            </h2>
          </div>
          <nav class="footer__nav">
            <a href="index.html#about" class="footer__link">About Us</a>
            <a href="index.html#team" class="footer__link">Team</a>
            <a href="index.html#pricing-schedule" class="footer__link"
              >Pricing</a
            >
          </nav>
        </div>
        <div class="footer__unnecessary">
          <p class="footer__copyright">
            © 2024 VikDental. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
    <script src="./js/pricing-schedule.js"></script>
  </body>
</html>
